# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Grafana / Prometheus data
grafana-data/
prometheus-data/

# PostgreSQL data
postgres-data/
pgdata/

# Docker
*.pid